---
import BaseLayout from "../layouts/BaseLayout.astro";

const identity = {
    firstName: "Eren",
    country: "Canada",
    occupation: "Professional Chiller",
    hobbies: ["drinking water", "coding stuff", "eating food"]
};

const skills = ["HTML", "CSS", "JavaScript", "React", "and a bit of Astro"];

const skillColor = "navy";
const fontWeight = "bold";
const textTransform = "uppercase";
---

<BaseLayout title="About Me">
    <h1>About Me</h1>
    <h2>... and my new Astro Site</h2>
    <p>
        I am working through Astro's introductory tutorial.
        This is the second page on my website, and it's the first
        I built myself.
    </p>
    <p>
        This site will update as I complete more of the tutorial
        and learn more about Astro. So keep checking it to see
        how my journey is going!
    </p>
    <p>Here are a few facts about me:</p>
    <ul>
        <li>My name is {identity.firstName}.</li>
        <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
        {
            identity.hobbies.length >= 2 &&
            <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
        }
    </ul>
    <p>My skills are:</p>
    <ul>
        {
            skills.map((skill) => <li class="skill">{skill}</li>)
        }
    </ul>
    <style define:vars={{skillColor, fontWeight, textTransform}}>
        h1 {
            color: purple;
            font-size: 4rem;
        }
        .skill {
            color: var(--skillColor);
            font-weight: var(--fontWeight);
            text-transform: var(--textTransform);
        }
    </style>
</BaseLayout>
